.*
!.gitignore

!.github
!.editorconfig
!.flake8
!.isort.cfg
!.travis.yml

/.git
*.py[co]
*~
*.egg-info
/dist
/build
/publish.log

/htmlcov/
coverage.xml

/poetry.lock

# Test project:
test_project_db.sqlite3
user_secrets_tests/media/*
!user_secrets_tests/media/.gitkeep
user_secrets_tests/static/*
!user_secrets_tests/static/.gitkeep


